body {
    margin: 0;
}

.search-bar {
    display: flex;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 150px;
    align-items: center;
    justify-content: center;
    top: 0;
}

.search {
    height: 50px;
    width: 500px;
    border: 2px solid #CBC3E3;
    border-radius: 5px;
    padding-left:12px;
}

.search:focus {
    outline: none;
    border: 2px solid #535C91;
    border-radius: 5px;
}

.sidebar {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    padding-top: 120px;
    background-color: #CBC3E3;
    color: #424874;
    padding-right: 20px;
}

.category {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
}

.curr-category {
    color: #535C91;
    font-weight: bold;
}

.curr-category:hover {
    color: white;
}

.new-post-button {
    text-align: center;
    margin-bottom: 60px;
    margin-left: 18px;
}

.post-button {
    color: white;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #535C91;
    font-weight: bold;
    color: #DCD6F7;
    padding: 15px 30px 15px 30px;
    transition: background-color 1s;
    transition: color 0.5s;
}

.post-button:hover {
    background-color: #424874;
    color: #F4EEFF;
}

.post-outline {
    padding: 50px 100px 50px 250px;
}

.post-body {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    border: 1px solid black;
    border-radius: 10px;
    border-color: #535C91;
    text-decoration: none;
    color: #535C91;

}

.post-body:hover {
    background-color: #F4EEFF;
}

.post-information {
    padding: 10px 10px 10px 10px;
    font-weight: 500;
    flex: 0.9;
}

.post-title {
    font-size: 22px;
    flex: 0.3;
    color: #535C91;
}

.post-category {
    font-size: 14px;
    font-weight: 400;
    flex: 0.2;
}

.post-text {
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 16px;
}

.post-details {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.1;
    font-weight: 500;
}

.post-date {
    flex: 0.95;
    font-size: 12px;
    margin-left: 25px;
}

.post-replies {
    flex:0.05;
    font-size: 15px;
    align-self: end;
}

a {
    text-decoration: none;
    color: black;
}

p {
    overflow: hidden;
}