@model IEnumerable<QuizAllViewModel>
@{
    ViewBag.Title = "Quizzes";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@e.Title</h5>
                <p class="mb-0"><span class="fw-bold">Category: </span>@e.Category</p>
            </div>

        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
